
<div class="col-sm-12 col-md-4 p-3 text-center">
    <div class="game-name">
        @Game.Name
    </div>

    <hr class="hrfix" />

    <div class="card-image">
        <a href="#">
            <img src="@Game.Img" alt="@Game.Name" class="game-image" />
        </a>
    </div>
    <hr class="hrfix" />

    <div class="game-card-footer">
        <div class="btn-group my-3 text-center" role="group">
            <a href="#" class="btn btn-outline-info">Edit</a>
            <button type="button" class="btn btn-outline-danger">
                Delete
            </button>
        </div>
    </div>
</div>

@code {
    [Parameter] public GameModel Game { get; set; }
}
